body{
    background-color: lightblue;
    justify-content: center;
    margin: 25px 10px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: small;
    font-weight: 100;
}

.title{
    font-size: 40px;
    align-items: center;
    font-weight: bolder;
    justify-content: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1{
    text-align: center;
    text-transform: inherit;
    font-size: xx-large;
    font-display: optional;
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.logo{

}

.logo img{
     border-radius: 50%;
     align-items: center;
     margin-left: 38%;

     
}

.subtitle{
    text-align: center;
    font-size: larger;
    font-weight: bolder;
    font-size: 20px;
    
}

.subtitle p{
    font-size: 18px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h3{
    font-size: larger;
    font-weight: bolder;
    font-size: 20px;
    font-display: inherit;
    font-display: swap;
}

.paragraph{
    display: flex;
    font-size: large;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
}

.image{
    width: 100%;
    height: 450px;
}
.image img{
    width:100%;
    height: 100%;
    border-radius: 3px;
}

.footer{
    text-align: center;
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-color: rgb(100, 194, 18);
}

.sub{
    display: flex;
    text-transform: inherit;
    font-size: xx-large;
    font-display: optional;
    font-weight: bolder;
}



.cards img{
    background-color: whitesmoke;
     border: 1px solid #ccc;
    border-radius: 8px;
    width: 300px;
    padding: 15px;
    flex-basis: 20%;
    box-shadow: 0 10px hwb(hue rgb(6, 149, 4) black);
    height: 400px;
    width: 270px;
}

.list{
    display: flex;
    padding: 25pxs;

}

.description{
    background-image: url(images/dishes.webp);
    background-size: cover;
    color: #ccc;
}

.form{
    text-align: center;
    text-shadow: #ccc;
    font-size: small;
    padding-left: 25px;
    padding-right: 25px;
}
.form input{
    padding-left: 130px;
    border-radius: 10px;
}

button{
    padding-left: 10px;
    border-radius: 10px;
}

/* Responsive text */
h1, h2, h3, p {
  margin-bottom: 10px;
}

/* --- Responsive Breakpoints --- */
@media (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: center;
  }

  .headings, .description, .forms {
    text-align: center;
  }

  .cards img {
    max-width: 100%;
  }
}

@media (max-width: 480px) {
  h1 {
    font-size: 1.5rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  p {
    font-size: 1rem;
  }

  button {
    width: 100%;
  }
}


